!!!
%html
  %head
    %title Paysto Ruby on Rails demo shop
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag '/favicon.ico', rel: 'shortcut icon'
    = csrf_meta_tags
  %body
    .jumbotron
      .container
        %h1
          = fa_icon 'cog spin'
          = link_to 'Demo shop', root_path
        %p
          Simple demo shop for Ruby on Rails applications and gem
          = succeed '.' do
            = link_to '«paysto-rails»', 'https://github.com/fbandrey/paysto-rails', target: '_blank'

    .container.bottom_20
      = print_flash
      = yield

    .container
      .alert.alert-info.lead
        = fa_icon 'github'
        Source code:
        = link_to 'https://github.com/fbandrey/paysto-demo', 'https://github.com/fbandrey/paysto-demo', target: '_blank'

    .container.bottom_20.text-right
      = link_to 'fbandrey', 'https://github.com/fbandrey', target: '_blank'
      ©
      = Time.zone.now.year

    = render 'layouts/google'
